##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# .mvn/wrapper/maven-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Operational System
##############################
.DS_Store
Thumbs.db

##############################
## Tests & Reports
##############################
*.exec
jacoco.exec
/site/

##############################
## Docker
##############################
*.pid
.docker/

##############################
## Logs
##############################

# Arquivos de log genéricos
*.log
*.log.*

# Logs de aplicações Spring Boot
spring.log

# Logs de testes
test-output/
surefire-reports/
failsafe-reports/

# Logs de servidores de aplicação (caso use Tomcat/Jetty/Undertow standalone)
logs/
*.out

##############################
## Development
##############################
docs/.internal/
